@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #041423;

  /* Brand Colors */
  --primary: #7CEB1D;
  --primary-dark: #68d60f;
  --secondary: #041423;
  --light: #f8f9fa;
  --border: #e5e7eb;
  --text-light: #6b7280;

  /* Global Layout */
  --container: 1280px;
  --header-height: 9  0px;
  --section-padding: 100px;
}


html{
  scroll-behavior:smooth;
}

body{
  background:var(--background);
  color:var(--foreground);
  font-family:"Plus Jakarta Sans",sans-serif;
}

a{
  text-decoration:none;
  color:inherit;
}

img{
  max-width:100%;
  display:block;
}

.container{
  width:100%;
  max-width:var(--container);
  margin:auto;
  padding-inline:20px;
}

.section{
  padding-block:var(--section-padding);
} 

button{
  cursor:pointer;
}

::-webkit-scrollbar{
  width:8px;
}

::-webkit-scrollbar-thumb{
  background:var(--primary);
}

::-webkit-scrollbar-track{
  background:#efefef;
}

.swiper-slide {
  opacity: .35;
  transform: scale(.8);
  transition: all .5s ease;
}

.swiper-slide-active {
  opacity: 1;
  transform: scale(1);
}

.swiper-slide-prev,
.swiper-slide-next {
  opacity: .65;
  transform: scale(.9);
}